import subprocess

moduleset = os.path.expanduser('~/buzztrax/jhbuild/buzztrax.modules')
modules = [ 'buzztrax-all' ]
checkoutroot = os.path.expanduser('~/buzztrax/jhbuild/build')
prefix = os.path.expanduser('~/buzztrax/jhbuild/install')

autogenargs = ''

addpath('ACLOCAL',  'aclocal -I ' + prefix + '/share/aclocal/')
addpath('GST_PLUGIN_PATH_1_0', prefix + '/lib/gstreamer-1.0/')
addpath('XDG_DATA_DIRS', prefix + '/share/')
addpath('XDG_DATA_DIRS', '/usr/share/')
addpath('PKG_CONFIG_PATH', os.path.expanduser(prefix + '/lib/pkgconfig'))

# this needs to be the system pkg-config :/
#addpath('GIO_EXTRA_MODULES', 
#        subprocess.Popen(["pkg-config", "--variable=giomoduledir", "gio-2.0"], stdout=subprocess.PIPE).communicate()[0])
addpath('GIO_EXTRA_MODULES', '/usr/lib/x86_64-linux-gnu/gio/modules')
